.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=1);
    opacity: 0;
    background: red;
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%) !important;
    cursor: inherit;
    display: block;
}

/* styles for reordering */

[ng-drag].drag-over {

	border: solid 3px blue;
	border-radius: 10px;
}
[ng-drag].dragging {
	opacity: 0.7;
	z-index: -1; position:relative
}
[ng-drop].drag-enter {
	background: #888888;
	/*border: solid 3px blue;
	border-radius: 10px;*/
}

