<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>New Concept</h1>
	</div>
	<div class="col-md-12">
		<form name="courseForm" class="form-horizontal" data-ng-submit="addLevel(4)" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" name="submitButton" value="Save" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>

