<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Add Text Box</h1>
	</div>

  <!-- Create a textarea that is then replaced by the ckEditor. Any text entered is bound
       to textToAppend, which is then used to add content to a project when saved.-->
	<div>
		<textarea ck-editor ng-model="textToAppend"></textarea>
	</div>

  <!--Pushing the save button calls appendText() and adds to the project any text entered
	    in the textarea above-->
	<button class="btn btn-default" name="submit" data-ng-click="appendText()">Save</button>

</section>
