<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div flow-prevent-drop 
		  flow-drag-enter="style={border: '5px solid green'}" 
		  flow-drag-leave="style={}"
		  ng-style="dropEnabled && style">
	<div class="page-header">
		<h1>Add Video</h1>
	</div>
	<div style="padding-left:20px; padding-bottom:15px">
		<input type="checkbox" ng-model="showMedia"> Open on load.<br>
	</div>
	{{this.showMedia}}
	<span class="btn btn-primary btn-file"> Upload
		<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files, 1)" >
	</span>
</section>