<section data-ng-controller="ProjectsController" data-ng-init="findOne(); findElement()">
	<div class="page-header">
		<h1>Edit Text {{activeElementIndex}}</h1>
	</div>
	<div class="col-md-12">
		<form name="projectForm" class="form-horizontal" data-ng-submit="update(projectForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && projectForm.title.$invalid}">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="project.elements[activeElementIndex].heading" id="title" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && projectForm.title.$invalid" class="help-block">
						<p ng-show="projectForm.title.$error.required" class="text-danger">Title is required</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && projectForm.content.$invalid}">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="project.elements[activeElementIndex].value" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && projectForm.content.$invalid" class="help-block">
						<p ng-show="projectForm.content.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" name="submit" value="Save" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
